<!-- <div class="navbar navbar-light bg-success navbar-expand-md ">
  <a href="" class="navbar-brand" style="font-size: xx-large;color:rgb(253, 253, 253)">Green Village <span
          class="bi bi-tree-fill green-color"></span></a>

  <div class="main-search-input-wrap ms-auto p-2">
      <div class="main-search-input fl-wrap">
          <div class="main-search-input-item">
              <input type="text" value="" placeholder="Search Products...">
              <button class="main-search-button">Search</button>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid text-center ">

  <div class="row border p-2" style="font-size: x-large;" id="topnav">
      <div class="col"><a class="navbar-brand activity" href="#" style="color: GREEN; font-weight:bold;" routerLink="home">Home</a></div>
      <div class="col">
          <a href="#" class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" style="color: GREEN; font-weight:bold;">Plant types</a>

          <div class="dropdown-menu w-100 mt-0" aria-labelledby="navbarDropdown">

              <div class="container">
                  <div class="row my-3">
                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                          <div class="list-group list-group-flush">
                              <a  class="list-group-item list-group-item-action" routerLink="/flower1" routerLinkActive="active">Flowers</a>
                              <a href="" class="list-group-item list-group-item-action">Dolor sit</a>
                              <a href="" class="list-group-item list-group-item-action">Amet consectetur</a>
                              <a href="" class="list-group-item list-group-item-action">Cras justo odio</a>
                              <a href="" class="list-group-item list-group-item-action">Adipisicing elit</a>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                          <div class="list-group list-group-flush">
                              <a href="" class="list-group-item list-group-item-action">Explicabo voluptas</a>
                              <a href="" class="list-group-item list-group-item-action">Perspiciatis quo</a>
                              <a href="" class="list-group-item list-group-item-action">Cras justo odio</a>
                              <a href="" class="list-group-item list-group-item-action">Laudantium maiores</a>
                              <a href="" class="list-group-item list-group-item-action">Provident dolor</a>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                          <div class="list-group list-group-flush">
                              <a href="" class="list-group-item list-group-item-action">Iste quaerato</a>
                              <a href="" class="list-group-item list-group-item-action">Cras justo odio</a>
                              <a href="" class="list-group-item list-group-item-action">Est iure</a>
                              <a href="" class="list-group-item list-group-item-action">Praesentium</a>
                              <a href="" class="list-group-item list-group-item-action">Laboriosam</a>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-3">
                          <div class="list-group list-group-flush">
                              <a href="" class="list-group-item list-group-item-action">Cras justo odio</a>
                              <a href="" class="list-group-item list-group-item-action">Saepe</a>
                              <a href="" class="list-group-item list-group-item-action">Vel alias</a>
                              <a href="" class="list-group-item list-group-item-action">Sunt doloribus</a>
                              <a href="" class="list-group-item list-group-item-action">Cum dolores</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col"><a class="navbar-brand" href="#" style="color: GREEN;font-weight:bold;">Planting conditions</a></div>
      <div class="col"><a class="navbar-brand" href="#" style="color: GREEN; font-weight:bold;" routerLink="sell">Sell here</a></div>
      <div class="col"><a class="navbar-brand" href="#" style="color: GREEN; font-weight:bold;">Seasonaly</a></div>
      <div class="col"><a href="#" class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" style="color: GREEN;font-weight:bold;" >Village</a>
          <ul class="dropdown-menu">
              <li class="dropdown-item" routerLink="impact">impact</li>
              <li class="dropdown-item" routerLink="timeline">Timeline</li>
              <li class="dropdown-item">photos</li>
              
          </ul>

           Dropdown menu -->
<!-- </div>
  
  </div>

  <router-outlet></router-outlet> -->

<!-- starting page nav bar -->
<div id="header"  *ngIf="a">
<div>

    <div class="navbar navbar-expand-sm">
        <ul class="navbar-nav ms-auto">
            <li><button type="button" class="btn btn-danger" (click)="signin()">Sign Up</button></li>
            &nbsp;
            <li><button type="button" class="btn btn-warning" (click)="login()">Login</button></li>
            <!-- <li class="nav-item" style="font-size: 30px;color: aliceblue;"><a class="nav-link" href="#"
                    (click)="login()">
                    sign up</a></li>
            <li class="nav-item" style="font-size: 30px;color: white"><a class="nav-link" href="#"
                    (click)="signin()">Login</a></li> -->
        </ul>

    </div>
  
</div>
<div >
    <div class="container" style="margin-top: 60px;" >
        <div class="d-flex justify-content-center">
            <h1 style="color: rgb(198, 226, 43);"> NARASARAOPETA ENGINEERING COLLEGE</h1>
        </div>
        <div class="d-flex justify-content-center">
            <h1 style="color: rgb(198, 226, 43);">DEPARTMENT OF CSE</h1>
        </div>
        <div class="d-flex justify-content-center" style="color: blueviolet;"> <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCsL17zr_9OTkI6lSkbqsKcaSuovTaHUQ2uPvH-Hs6XXenPyEXToeAc1Yepkl0q80HcZw&usqp=CAU">
        </div>
        <div class="d-flex justify-content-center" style="color: blueviolet;">
            <h2 style="color: rgb(208, 226, 43);">COMMUNITY SERVICE PROJECT</h2>
        </div>
        <div class="d-flex justify-content-center">
            <h2 style="color: rgb(248, 252, 8);">AWARENESS OF PLANTATION</h2>
        </div>
    </div>
</div>
</div>
<div  *ngIf="c">
    <section class="container mt-5" >
        <div class="row justify-content-md-center">
            <form class="col-md-6 col-sm-12 bg-white p-5 rounded shadow"  #r="ngForm" (ngSubmit)="Insert(r)" >
                <div class="col-12 text-center">
                    <h3 class="text-success"><strong>Register Now</strong></h3>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Name</label>
                    <input type="text" class="form-control" id="email" name="yourname" placeholder="enter your name" ngModel required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Email address</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label"> Password</label>
                    <input type="password" class="form-control" id="confirm_password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="terms">
                    <label class="form-check-label" for="terms">I agree terms and conditions.</label>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-success btn-rounded w-75">Register Now</button>
                </div>
                <div class="mb-3 text-center text-secondary mt-3">
                    or register using
                </div>
                <div class="d-flex justify-content-around mb-3">
                    <button type="submit" class="btn btn-danger btn-rounded"><i class="bi bi-google"></i>&nbsp;&nbsp;Google</button>
                    <button type="submit" class="btn btn-primary btn-rounded"><i class="bi bi-facebook"></i>&nbsp;&nbsp;Facebook</button>
                    <button type="submit" class="btn btn-success btn-rounded"><i class="bi bi-linkedin"></i>&nbsp;&nbsp;Linkedin</button>
                </div>
            </form>
        </div>
    </section>
    
</div>


<router-outlet></router-outlet>